.main-contain{
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
}
.box{
  width: 26vw;
  height: 26vw;
}
.player1{
  background:blue;
}
.player2{
  background:green;
}
.empty{
  background:black
}
.sizing{
  padding:0 25vw 0 25vw;
  margin-top: 25vh;
}
.join-create-form{
  width: auto;
  height: auto;
}
.form-contain{
  height:100%;
}
.app-contain{
  height: 100vh;
}
