@font-face {
  font-family: hand-writing;
  src: url(./assets/NanumBrush.ttf);
}
*{
  padding:0;
  margin: 0;
}
.font {
  font-family: hand-writing !important;
}
.app-contain{
  background: url(./images/paper.jpg);
  background-size: cover;
  height: 100vh;
}
.app-title{
  text-align:center;
  font-size: 90pt;
  margin-bottom: 5vh;
}
.sizing{
  padding:0 25vw 0 25vw;
}
.join-create-form{
  width: auto;
  height: auto;
  background: transparent !important;
  border: solid 3px !important;
  border-radius: 2% 95% 2% 95%/95% 2% 92% 2% !important;
  padding: 3vw !important;
}
.form-contain{
  height:100vh;
  padding-top: 5vh;
}
.error-form{
  text-align: center;
}
.label-style{
  font-size: 20pt !important;
}
.input-field{
  background: transparent !important;
  border: solid !important;
  border-radius: 2% 95% 2% 95%/95% 2% 92% 2% !important;
}
.button-style{
  font-size: 20pt;
  padding: 10px;
  margin-right: 25px;
}

input[type="text"]
{
  font-family:hand-writing !important;
  font-size: 20pt !important;
  padding: 5px 5px 5px 10px !important;
}

/* GAME */
.tic-js{
  height: 80vh;
}
.game-title{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 90pt;
  height: 20vh;

  border: solid orange;
}
.tic-content-contain{
  display: flex;
  border: solid blue 1px;
  height: 100%;
}
.tic-board {
  width: 39vw;
  height: 39vw;
  display: flex;
  flex-wrap: wrap;
}
.game-info{
flex: 1;
border: solid green 1px;
}
.tic-contain{
  flex: 3;
  border: solid yellow 1px;
}
.result-style{
  color: black !important;
  font-size:70pt;
}
.possible-chat{
flex:1;
border: solid red 1px;
}
.box{
  width: 13vw;
  height: 13vw;
}
.box0, .box3, .box6 {
  border-right: solid;
}

.box0, .box1, .box2 {
  border-bottom: solid;
}

.box2, .box5, .box8 {
  border-left: solid;
}

.box6, .box7, .box8 {
  border-top: solid;
}
.player1{
  background: url('./images/o.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.player2{
  background: url('./images/x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
