.tic-container {
  margin: auto;
  margin-top: 5vh;
  width: 45vw;
  height: 45vw;
  display: flex;
  flex-wrap: wrap;
}
.box{
  width: 15vw;
  height: 15vw;
  border:solid black 1px;
}
.player1{
  background: url('./images/o.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.player2{
  background: url('./images/x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.sizing{
  padding:0 25vw 0 25vw;
  margin-top: 25vh;
}
.join-create-form{
  width: auto;
  height: auto;
}
.form-contain{
  height:100%;
}
.app-contain{
  height: 100vh;
}
